{% extends "base.html" %} {% block title %}Video | IG Downloader{% endblock title %} 

{% block content %}

<div class="jumbotron vertical-center">
  <div class="container download-container shadow">
    <div class="row">
      <div class="col-12 text-center py-2">
        <img src="{{url_for('static', filename='assets/ig.png')}}" style="height:100px" alt="">
        <h3>Download Video</h3>
      </div>
      <div class="col-12 col-sm-10 col-md-8 mx-auto">
        {% include 'alerts.html' %}

        <form action="{{url_for('ig_video_downloader')}}" method="POST">
          <div class="form-group mb-3">
            <input
              type="url"
              name="video-url"
              class="form-control"
              placeholder="Enter Video Link Here"
            />
          </div>
          <div class="form-group mb-3">
            <center>
              <input
                type="submit"
                id="download_btn"
                class="btn btn-primary px-4"
                value="Download Video"
              />
            </center>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('download_btn').addEventListener('click', ()=>{
        new Notify ({
            status: 'success',
            title: 'Trying to fetch video',
            text: 'Hold on a bit...',
            effect: 'slide',
            speed: 300,
            showCloseButton: true,
            autoclose: true,
            autotimeout: 3000,
            gap: 20,
            distance: 20,
            type: 1,
            position: 'right top'
        })
    })
</script>
{% endblock content %}
