[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-decouple = "*"
pytube = "*"
gunicorn = "*"
requests = "*"
google-api-python-client = "*"
instaloader = "*"
flask-mail = "*"
flask-socketio = "*"
greenlet = "*"
dnspython = "==1.16.0"
eventlet = "==0.30.2"
img2pdf = "*"
beautifulsoup4 = "*"
pypdf2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
