[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-decouple = "*"
pytube = "*"
gunicorn = "*"
requests = "*"
google-api-python-client = "*"
instaloader = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
