{% extends "base.html" %} {% block title %}{{ url.title }} | YT Downloader{% endblock title %}

{% block meta_tags %}
<meta
  name="description"
  content="Download videos from {{ url.title }} playlist for free using EazyLoader"
/>
<meta property="og:title" content="Download {{ url.title }} | EazyLoader" />
<meta property="og:url" content="{{request.url}}" />
<meta
  property="og:description"
  content="Download videos from {{ url.title }} playlist for free using EazyLoader"
/>
<meta
  property="og:image"
  content="https://i.imgur.com/9EhB31a.png"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@" />
<meta name="twitter:title" content="Download {{ url.title }} | EazyLoader" />
<meta
  name="twitter:description"
  content="Download videos from {{ url.title }} playlist for free using EazyLoader"
/>
<meta
  name="twitter:image"
  content="https://i.imgur.com/9EhB31a.png"
/>
{% endblock %}

{% block content %}


<div class="jumbotron vertical-center mb-5">
  <div class="container download-container shadow">
    <div class="row mb-4">
      <nav aria-label="breadcrumb" class="py-4 px-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{url_for('index')}}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{url_for('yt_playlist_downloader')}}">Download Playlist</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Choose Resolution
          </li>
        </ol>
      </nav>
      <div class="col-12 text-center py-2">
        <img src="{{url_for('static', filename='assets/yt.png')}}" style="height:100px" alt="">
        <h3>Download Playlist</h3>
      </div>
      <div class="col-12 mx-auto">
        <form method="POST" action="{{ url_for('download_playlist') }}">
        <div class="card py-4 px-3 mx-auto" style="max-width: 1300px;">
          <h4 class="text-center mt-3 mb-3">{{url.title}}</h4>
          <div class="row text-center">
            <div class="col-md-6">
              <p>Total Videos : {{url.length}}</p>
              <p>Last Updated : {{url.last_updated|humanize_date}}</p>
            </div>
            <div class="col-md-6">
              <p>Total Views : {{url.views|humanize_views}}</p>
              <p>Playlist Created By : <a href="{{url.owner_url}}" style="text-decoration: none;">{{url.owner}}</a></p>
            </div>
            <button type="submit" class="btn btn-danger mt-3" id="download_btn">Download</button>
          </div>
            {% for video in url.videos %}
            <hr>
            <div class="row no-gutters mb-4">
              <div class="col-md-4">
                <img src="{{video.thumbnail_url}}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ video.title }}</h5>
                  <p>Length : {{video.length}} | Views : {{video.views}} | Uploaded by <a href="{{video.channel_url}}" style="text-decoration: none;">{{video.author}}</a> on {{video.publish_date|humanize_date}}</p>
                  <p class="card-text">
                    <div class="col-md-5">
                      <select name="itag" class="form-select input-sm" aria-label="Default select example">
                          {% for i in video.streams.filter(progressive=True) %}
                              <option value="{{ i.itag }}"> {{ i.resolution }} </option>
                          {% endfor %}
                      </select>
                    </div>
                    <!-- <button type="submit" class="btn btn-danger mt-3" id="download_btn">
                      Download
                    </button> -->
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
    </form>
      </div>
    </div>
  </div>
</div>

<script>
    document.getElementById('download_btn').addEventListener('click', ()=>{
        new Notify ({
            status: 'success',
            title: 'Downloading Video',
            text: '{{url.title}}',
            effect: 'slide',
            speed: 300,
            showCloseButton: true,
            autoclose: true,
            autotimeout: 3000,
            gap: 20,
            distance: 20,
            type: 1,
            position: 'right top'
        })
    })
</script>

  {% endblock content %}

