{% extends "base.html" %} {% block title %}{{title}}{% endblock title %} {%
block meta_tags %}
<meta name="description"
  content="A free tool to quickly download audio, videos and shorts from Youtube and pictures, profile pictures, videos, IGTV videos and reels from Instagram" />
<meta property="og:title" content="{{title}} | EazyLoader" />
<meta property="og:url" content="{{request.url}}" />

<meta property="og:description"
  content="A free tool to quickly download audio, videos and shorts from Youtube and pictures, profile pictures, videos, IGTV videos and reels from Instagram" />
<meta property="og:image" content="{{ url_for('static', filename='assets/logo.png') }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@" />
<meta name="twitter:title" content="{{title}} | EazyLoader" />
<meta name="twitter:description"
  content="A free tool to quickly download audio, videos and shorts from Youtube and pictures, profile pictures, videos, IGTV videos and reels from Instagram" />
<meta name="twitter:image" content="{{ url_for('static', filename='assets/logo.png') }}" />

{% endblock %} {% block custom_head %}
<!-- Custom CSS -->
<link href="{{url_for('static', filename='css/blog.css')}}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %} {% block content %}

<!-- Features section-->
<header
  style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{url_for('static', filename='assets/banner.jpg') }}) center/cover no-repeat fixed;"
>
  <div class="banner">
    <div class="container">
      <h1 class="banner-title" data-aos="fade-down">EazyLoader Blogs</h1>
      <p data-aos="zoom-in">Everything you need to know about EazyLoader</p>
    </div>
  </div>
</header>
<!-- end of header -->

<!-- blog -->
<section class="blog" id="blog">
  <div class="container">
    <div class="title">
      <h2 data-aos="fade-down">Latest Blogs</h2>
      <p data-aos="slide-down">Read recent blogs of EazyLoader</p>
    </div>
    <div class="blog-content">
      <!-- item -->
      <div class="blog-item">
        <div class="blog-img">
          <img
            src="{{url_for('static', filename='assets/blog1.jpg')}}"
            alt=""
          />
        </div>
        <div class="blog-text">
          <span>25 October, 2021</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
            libero quas ipsum laudantium nihil! Quaerat.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class="blog-item">
        <div class="blog-img">
          <img
            src="{{url_for('static', filename='assets/blog2.jpg')}}"
            alt=""
          />
        </div>
        <div class="blog-text">
          <span>25 October, 2021</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
            libero quas ipsum laudantium nihil! Quaerat.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class="blog-item">
        <div class="blog-img">
          <img
            src="{{url_for('static', filename='assets/blog3.jpg')}}"
            alt=""
          />
        </div>
        <div class="blog-text">
          <span>25 October, 2021</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
            libero quas ipsum laudantium nihil! Quaerat.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class="blog-item">
        <div class="blog-img">
          <img
            src="{{url_for('static', filename='assets/blog4.jpg')}}"
            alt=""
          />
        </div>
        <div class="blog-text">
          <span>25 October, 2021</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
            libero quas ipsum laudantium nihil! Quaerat.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class="blog-item">
        <div class="blog-img">
          <img
            src="{{url_for('static', filename='assets/blog5.jpg')}}"
            alt=""
          />
        </div>
        <div class="blog-text">
          <span>25 October, 2021</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
            libero quas ipsum laudantium nihil! Quaerat.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class="blog-item">
        <div class="blog-img">
          <img
            src="{{url_for('static', filename='assets/blog6.jpg')}}"
            alt=""
          />
        </div>
        <div class="blog-text">
          <span>25 October, 2021</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
            libero quas ipsum laudantium nihil! Quaerat.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <!-- end of item -->
    </div>
  </div>
</section>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({ duration: 1000, delay: 100 });
</script>
<!-- end of blog -->

{% endblock content %}
