<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./contribution.css" rel="stylesheet"/>
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>EazyLoader</title>
  </head>
  <body>
        <div class="jumbotron bg-dark text-white jumbotron-fluid mb-4">
          <div class="container pb-2">
            <h1 class="display-4">Contributors</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa asperiores commodi, saepe dignissimos quia explicabo nostrum sapiente, numquam fuga ratione esse nesciunt adipisci vitae, odio eius et aspernatur minus quasi?</p>
          </div>
        </div>
        <div class="container">
          <div class="row" id="output" ></div>
        </div>

        <!-- Footer-->
    <footer class="py-3 bg-dark" id="footer">
      <div class="container px-5">
        <p class="m-0 text-center text-white">
          Copyright &copy; EazyLoader 2021
          <script>
            new Date().getFullYear() > 2021 &&
              document.write("-" + new Date().getFullYear());
          </script>
          <br />
          Built with <i class="bi bi-heart-fill" style="color: red"></i> by
          <a
            href="https://ashutoshkrris.tk"
            style="text-decoration: none; color: white; font-weight: bolder"
            >Ashutosh Krishna</a
          >
        </p>
      </div>
    </footer>
        
  </body>
  <script>
    fetch("https://api.github.com/repos/ashutoshkrris/EazyLoader/contributors")
.then(function (response) {
	// The API call was successful!
	return response.json();
}).then(function (data) {
	// This is the JSON from our response
  let output = '';
        data.forEach(function(user) {
    output+=`
    <div class="col-sm-6 col-md-3 mb-2">
    <div class="card bg-dark">
        <a href="${user.html_url}" class="nounderline" >
        <img class="card-img-top" src="${user.avatar_url}" alt="contributor-image">
        <div class="card-body">
          <h3 class="card-title text-white text-center text-uppercase">${user.login}</h3>
          </div>
        </a>
      </div>
      </div>`
        });
         document.getElementById('output').innerHTML = output;
	//console.log(data);
  //console.log(output);
}).catch(function (err) {
	// There was an error
	console.warn('Something went wrong.', err);
});
  </script>
  </html>