<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">


<div class="w3-content">




    <div class="w3-card-4 w3-round-large w3-margin w3-white"><br>
    <center><img src="https://res.cloudinary.com/dlomjljb6/image/upload/v1635352489/139104800-261f8c34-531e-4669-b03e-09b9b679a369_u7fka7.png" style="width:80%; max-width:300px" ><br><br><br></center>
    <div class="w3-container">
      <h3><b>Hey, I'm {{name}}</b></h3>
      <h5 class="w3-opacity w3-small"><b>Email: </b> <span >{{email}}</span></h5>
      <h5 class="w3-opacity w3-small"><b>Phone Number: </b> <span >{{ph_no}}</span></h5>
      <h5 class="w3-opacity w3-small"><b>Device IP: </b> <span >{{ip_addr}}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{message}}</p>
      <br><center><b class="w3-opacity w3-large">Thank You</b></center><br>
    </div>
  </div>



</div>


</body>
</html>
