{% extends "base.html" %} {% block title %}{{title}}{% endblock title %}
{% block meta_tags %}
<meta name="description"
  content="A free tool to quickly download audio, videos and shorts from Youtube and pictures, profile pictures, videos, IGTV videos and reels from Instagram" />
<meta property="og:title" content="{{title}} | EazyLoader" />
<meta property="og:url" content="{{request.url}}" />

<meta property="og:description"
  content="A free tool to quickly download audio, videos and shorts from Youtube and pictures, profile pictures, videos, IGTV videos and reels from Instagram" />
<meta property="og:image" content="{{ url_for('static', filename='assets/logo.png') }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@" />
<meta name="twitter:title" content="{{title}} | EazyLoader" />
<meta name="twitter:description"
  content="A free tool to quickly download audio, videos and shorts from Youtube and pictures, profile pictures, videos, IGTV videos and reels from Instagram" />
<meta name="twitter:image" content="{{ url_for('static', filename='assets/logo.png') }}" />

{% endblock %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">
            Easily Download Videos and Images
          </h1>
          <p class="lead text-white-50 mb-4">
            Quickly download audio and videos from YouTube and pictures from
            Instagram!
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
            <a class="btn btn-outline-light btn-lg px-4" href="#contact">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Features section-->
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-youtube"></i>
        </div>
        <h2 class="h4 fw-bolder">Download from YouTube</h2>
        <p>
          You can download audio and video from YouTube in various available
          resolutions. Highest resolution available upto 720p. You can also
          download complete playlist in one go! Even downloading all videos from
          a channel won't be a problem for us. 😉
        </p>
        <a class="text-decoration-none" href="{{url_for('yt_video_downloader')}}">
          Let's Go
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-instagram"></i>
        </div>
        <h2 class="h4 fw-bolder">Download from Instagram</h2>
        <p>
          Do you need to take screenshots of pictures on Instagram or record
          your screen to share with your friends? Now download pictures and
          videos from Instagram now without any hassle.😲
        </p>
        <a class="text-decoration-none" href="{{url_for('ig_video_downloader')}}">
          Let's Go
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>



<!-- Contact section-->
<section class="bg-light py-5" id="contact">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
        <i class="bi bi-envelope"></i>
      </div>
      <h2 class="fw-bolder">Get in touch</h2>
      <p class="lead mb-0">We'd love to hear from you</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <form id="contactForm" action="{{url_for('index')}}" method="POST">
          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" name="name" placeholder="Enter your name..."
              data-sb-validations="required" required/>
            <label for="name">Full name</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">
              A name is required.
            </div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com"
              data-sb-validations="required,email" required/>
            <label for="email">Email address</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">
              An email is required.
            </div>
            <div class="invalid-feedback" data-sb-feedback="email:email">
              Email is not valid.
            </div>
          </div>
          <!-- Phone number input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="phone" type="tel" name="ph_no" placeholder="(123) 456-7890"
              data-sb-validations="required" required/>
            <label for="phone">Phone number</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">
              A phone number is required.
            </div>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="message" type="text" name="message" placeholder="Enter your message here..."
              style="height: 10rem" data-sb-validations="required" required></textarea>
            <label for="message">Message</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">
              A message is required.
            </div>
          </div>
          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Form submission successful!</div>
              To activate this form, sign up at
              <br />
              <a
                href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">
              Error sending message!
            </div>
          </div>
          <!-- Submit Button-->
          <div class="d-grid">
            <input class="btn btn-primary btn-lg " id="submitButton" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}