{% extends "base.html" %} {% block title %}Home{% endblock title %} 

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">
            Present your business in a whole new way
          </h1>
          <p class="lead text-white-50 mb-4">
            Quickly design and customize responsive mobile-first sites with
            Bootstrap, the world’s most popular front-end open source toolkit!
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features"
              >Get Started</a
            >
            <a class="btn btn-outline-light btn-lg px-4" href="#!"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Features section-->
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-collection"></i>
        </div>
        <h2 class="h4 fw-bolder">Featured title</h2>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a class="text-decoration-none" href="#!">
          Call to action
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-building"></i>
        </div>
        <h2 class="h4 fw-bolder">Featured title</h2>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a class="text-decoration-none" href="#!">
          Call to action
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-toggles2"></i>
        </div>
        <h2 class="h4 fw-bolder">Featured title</h2>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a class="text-decoration-none" href="#!">
          Call to action
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Contact section-->
<section class="bg-light py-5">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
        <i class="bi bi-envelope"></i>
      </div>
      <h2 class="fw-bolder">Get in touch</h2>
      <p class="lead mb-0">We'd love to hear from you</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
          <!-- Name input-->
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="name"
              type="text"
              placeholder="Enter your name..."
              data-sb-validations="required"
            />
            <label for="name">Full name</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">
              A name is required.
            </div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="email"
              type="email"
              placeholder="name@example.com"
              data-sb-validations="required,email"
            />
            <label for="email">Email address</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">
              An email is required.
            </div>
            <div class="invalid-feedback" data-sb-feedback="email:email">
              Email is not valid.
            </div>
          </div>
          <!-- Phone number input-->
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="phone"
              type="tel"
              placeholder="(123) 456-7890"
              data-sb-validations="required"
            />
            <label for="phone">Phone number</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">
              A phone number is required.
            </div>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="message"
              type="text"
              placeholder="Enter your message here..."
              style="height: 10rem"
              data-sb-validations="required"
            ></textarea>
            <label for="message">Message</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">
              A message is required.
            </div>
          </div>
          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Form submission successful!</div>
              To activate this form, sign up at
              <br />
              <a href="https://startbootstrap.com/solution/contact-forms"
                >https://startbootstrap.com/solution/contact-forms</a
              >
            </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">
              Error sending message!
            </div>
          </div>
          <!-- Submit Button-->
          <div class="d-grid">
            <button
              class="btn btn-primary btn-lg disabled"
              id="submitButton"
              type="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
