{% extends "base.html" %} {% block title %}{{title}}{% endblock title %} {%
block meta_tags %}
<meta
  name="description"
  content="Read latest blogs posted by Eazyloader
/>
<meta property="og:title" content="{{title}} | EazyLoader" />
<meta property="og:url" content="{{request.url}}" />
<meta
  property="og:description"
  content="Read latest blogs posted by Eazyloader
/>
<meta
  property="og:image"
  content="{{ url_for('static', filename='assets/icon.png') }}"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@" />
<meta name="twitter:title" content="{{title}} | EazyLoader" />
<meta
  name="twitter:description"
  content="Read latest blogs posted by Eazyloader
/>
<meta
  name="twitter:image"
  content="{{ url_for('static', filename='assets/icon.png') }}"
/>
<link rel="stylesheet" href="{{url_for('static', filename='css/blog.css')}}" />

{% endblock %} {% block content %}

<!-- Contributors section-->

<section id="blogs">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="heading">Latest Blogs</h2>
        <p class="subheading">We keep sharing what we are currently working on..</p>
      </div>
    </div>
  </div>

  <div class="index-content">
    <div class="container">
      <div class="row">
        {% for post in posts %}
        <div class="col-lg-4">
          <a href="">
            <div class="card">
              <img
                src="https://res.cloudinary.com/dlomjljb6/image/upload/v1/{{post.fields.thumbnail}}"
              />
              <h4>{{post.fields.title}}</h4>
              <p>{{post.fields.seo_overview}}</p>
              <a
                href="{{url_for('single_page', id=post.pk, slug=post.fields.slug)}}"
                class="blue-button"
                >Read More</a
              >
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock content %}
