{% extends "base.html" %} {% block title %}Calculate Playlist Duration | YT Downloader{% endblock title %} {% block content %}

<div class="jumbotron vertical-center">
  <div class="container download-container shadow">
    <div class="row">
      <div class="col-12 text-center py-2">
        <img
          src="{{url_for('static', filename='assets/yt.png')}}"
          style="height: 100px"
          alt=""
        />
        <h3>Calculate Playlist Duration</h3>
      </div>
      <div class="col-12 col-sm-10 col-md-8 mx-auto">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <svg
            class="bi flex-shrink-0 me-2"
            width="24"
            height="24"
            role="img"
            aria-label="Danger:"
          >
            <use xlink:href="#exclamation-triangle-fill" />
          </svg>
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <form action="{{url_for('calculate_playlist_duration')}}" method="POST">
          <div class="form-group mb-3">
            <input
              type="url"
              name="playlist-url"
              class="form-control"
              placeholder="Enter Playlist Link Here"
            />
          </div>
          <div class="form-group mb-3">
            <center>
              <input
                type="submit"
                class="btn btn-primary px-4 mt-3 mb-3"
                value="Calculate"
              />
            </center>
          </div>
        </form>
        {% if result %}
        <hr />
        <h4 class="text-center">{{playlist.title}} by <a href="{{playlist.owner_url}}" style="text-decoration: none"
              >{{playlist.owner}}</a
            ></h4>
        <div class="row text-center mt-3 mb-4">
          <p>Total Videos : <strong>{{playlist.length}}</strong></p>
          <p>
            Total Views : <strong>{{playlist.views|humanize_views}}</strong>
          </p>
          <p>Total Length of Playlist: <strong>{{duration['1']}}</strong></p>
          <p>At 1.25x Speed : <strong>{{duration['125']}}</strong></p>
          <p>At 1.5x Speed : <strong>{{duration['15']}}</strong></p>
          <p>At 1.75x Speed : <strong>{{duration['175']}}</strong></p>
          <p>At 2x Speed : <strong>{{duration['2']}}</strong></p>
          <p>
            Average Length of Playlist: <strong>{{duration['avg']}}</strong>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% endblock content %}
</div>
