{% extends "base.html" %} {% block title %}{{title}} | YT Downloader{% endblock
title %} {% block meta_tags %}
<meta
  name="description"
  content="Download YouTube Audio in the best quality for free using EazyLoader"
/>
<meta property="og:title" content="{{title}} | EazyLoader" />
<meta property="og:url" content="{{request.url}}" />
<meta
  property="og:description"
  content="Download YouTube Audio in the best quality for free using EazyLoader"
/>
<meta property="og:image" content="https://i.imgur.com/9EhB31a.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@" />
<meta name="twitter:title" content="{{title}} | EazyLoader" />
<meta
  name="twitter:description"
  content="Download YouTube Audio in the best quality for free using EazyLoader"
/>
<meta name="twitter:image" content="https://i.imgur.com/9EhB31a.png" />
{% endblock %} {% block content %}


<div class="jumbotron vertical-center">
  <div class="container download-container shadow">
    <div class="row">
      <nav aria-label="breadcrumb" class="py-4 px-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{url_for('index')}}">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Download Audio
          </li>
        </ol>
      </nav>
      <div class="col-12 text-center py-2">
        <img
          src="{{url_for('static', filename='assets/yt.png')}}"
          style="height: 100px"
          alt=""
        />
        <h3>Download Audio</h3>
      </div>
      <div class="col-12 col-sm-10 col-md-8 mx-auto">
        {% include 'includes/alerts.html' %}

        <form action="{{url_for('yt_audio_downloader')}}" method="POST">
          <div class="form-group mb-3">
            <input
              type="url"
              name="video-url"
              class="form-control"
              placeholder="Enter Video Link Here"
            />
          </div>
          <div class="form-group mb-3">
            <center>
              <input
                type="submit"
                class="btn btn-primary px-4"
                value="Download Audio"
              />
            </center>
          </div>
        </form>
      </div>
      {% include 'includes/warning.html' %}
    </div>
    {% include 'includes/amazon-ads.html' %}
  </div>

  {% endblock content %}
</div>
