.download-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .download-container {
    width: 60%;
  }
}
